$smallPadding: 10px;
$normalPadding: 25px;
$columned-dropdown-item-width: 170px;
$columned-dropdown-column-count: 3;
$hubsNavHeight: 60px;
$mobileHeaderHeight: 65px;

.header {
  height: $mobileHeaderHeight;
  background: $brand-a;
  background: linear-gradient(to bottom, $brand-a, #339378);

  @include printHide();

  @include mq($from: m) {
    height: auto;
  }

  .sub-nav-is-active & {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    + * {
      margin-top: 66px;
    }
  }

  @include mq($from: m) {
    position: relative;
    padding-bottom: $hubsNavHeight;
    border-bottom: 2px solid $brand-e;
    background-origin: content-box;
  }
}

.header__title {
  color: #FFF;
  display: block;
  float: left;
  padding: 10px 0 0 10px;
  margin: 0;

  .text {
    line-height: 1.1em;
    vertical-align: top;
    padding-top: 3px;
  }

  @include mq($from: m) {
    display: inline-block;
    padding: $normalPadding $smallPadding $normalPadding 0;
    margin: 0;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  .icon {
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    width: 38px;
  }

  .text {
    display: inline-block;
    line-height: 1.1em;

    @include mq($from: m) {
      font-size: 22px;
    }
  }
}

.header__btn {
  font-weight: $font-headline-weight;
  font-family: $font-headline;
  float: right;
  width: 80px;
  height: $mobileHeaderHeight;
  padding: 20px;
  margin: 0;
  background-color: $brand-e;
  line-height: 1.1em;

  .is-active & {
    display: none;
  }

  &--close {
    padding: 15px 10px 14px;
    display: none;
    z-index: 1000;

    .is-active & {
      display: block;
    }
  }

  a {
    color: $brand-k;
  }

  @include mq($from: m) {
    display: none;
  }

  .icon {
    height: 12px;
    width: 12px;
  }

  @include printHide();
}

.header__nav {
  float: right;
}

.nav__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background: $brand-c;

  @include mq($from:m) {
    display: block;
  }

  &--hubs {
    @include mq($from: m) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $brand-s;
    }
  }

  &--hub {
    display: none;
  }

  &--sub-list {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 10px 0;

    @include mq($from: m, $until: xxl) {
      width: $columned-dropdown-item-width;
      // &:last-of-type {
      //   right: 0px;
      // }
    }
  }

  &--columned {
    @include mq($from: m) {
      column-count: $columned-dropdown-column-count;
      width: 541px!important; // hack!
      margin-left: -$columned-dropdown-item-width;
    }
  }

  .nav__item--about > &--sub-list,
  .nav__item--locations > &--sub-list {
    @include mq($from: m, $until: xxl) {
      right: 0;
    }
  }
}

.nav__item {
  @include mq($from: m) {
    float: left;
    margin-bottom: 0;

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }

      .nav__list--sub-list &:hover {
        background: $brand-r;
      }
    }

    &:hover {
      background: $brand-c;

      & > .nav__list {
        display: block;
      }
    }

    .nav__list--hub & {
      a {
        color: $brand-k;
      }

      &:hover {
        background: $brand-s;
      }
    }

    .nav__list--sub-list & {
      float: none;

      @include mq($from: m) {
        width: $columned-dropdown-item-width;
      }

      a {
        display: block;
        padding: 5px 30px 5px 10px;

        &:hover {
          background: $brand-r;
        }

        .hubs-nav &:hover {
          background: $brand-e;
        }
      }
    }

    .nav__list--columned & {
      @include mq($from: m) {
        width: $columned-dropdown-item-width;
      }
    }

    &--mobile-only {
      display: none;
    }

    &--hub-nav {
      width: 100%;

      &:hover {
        background: none!important;
      }
    }
  }
}

.nav__item-link {
  display: block;
  color: white;
  padding: 37px 10px;

  &:hover {
    text-decoration: none;
  }

  .nav__list--hubs & {
    color: $brand-k;
    padding: 18px 10px;

    &:hover {
      background: $brand-s;
    }
  }

  .nav__list--hubs &--has-sub-nav {
    padding-right: 35px;
  }

  &--has-sub-nav {
    padding-right: 35px;
    position: relative;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      margin-left: 1em;
      top: 3em;
      position: absolute;
    }

    .nav__list--hubs & {
      &::after {
        border-top: 5px solid $brand-k;
        top: 1.7em;
      }
    }
  }
}

.hub-nav-container {
  ul {
    list-style: none;
  }
}

// Active Section
@each $section in $nav-sections {
  .section--#{$section} .nav__item--#{$section} {
    @include mq($from: m) {
      background: $brand-c;
    }
  }

  .section--#{$section} .nav__list--hub .nav__item--#{$section} {
    @include mq($from: m) {
      background: $brand-s;
    }
  }
}

// Active page
@each $page in join(join($nav-pages, $generated-nav-pages), $generated-locations-for-nav) {
  .page--#{$page} {
    .header__nav .nav__item--#{$page} > a {
      @include mq($from: m) {
        background: $brand-c;
      }
    }

    .header__nav .nav__list--sub-list .nav__item--#{$page} > a {
      @include mq($from: m) {
        background: $brand-r;
      }
    }

    .nav__list--hubs .nav__item--#{$page} {
      @include mq($from: m) {
        background: $brand-s;
      }
    }

    .nav__list--hubs .nav__list--sub-list .nav__item--#{$page} {
      @include mq($from: m) {
        background: $brand-e;
      }
    }
  }
}

// Active location nav
@each $location in $generated-locations-for-nav {
  .location--#{$location} {
    [data-city="#{$location}"] {
      display: block!important;
    }
  }
}
